body {
    background-image: url("../images/1200px-SSBU-Battlefield.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: palegoldenrod;
    font-family: custom;
}

.table {
    background-color: lightblue;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: gray;
}

.nav,
.nav-link,
.Home,
.Teams {
    font-family: "Franklin Gothic Medium";
    font-size: large;
}

.highlight1,
.highlight2 {
    width: 600px;
    height: 400px;
}

.popover {
    background-color: lightblue;
    font-family: custom;
}

.imgPopover {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
}

#popover {
    background-color: transparent;
}

.alert {
    width: 500px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Teams,
.Home,
.Highlights,
.table,
footer,
.Schedule {
    opacity: 0.8;
}

.teamAside {
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    float: right;
    background-color: black;
    opacity: 0.8;
}

.carousel-item {
    opacity: 0.8;
}

.text-center {
    background-color: palegoldenrod;
}

.navbar {
    background-color: indianred;
}

tbody,
.popover {
    font-family: Haettenschweiler;
    font-style: bold;
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: white;
}

.Schedule,
.Home,
.Teams {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@font-face {
    font-family: custom;
    src: url(../super-smash/super_smash_4_1_by_pokemon_diamond-d7zxu6d.ttf);
}
