<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="Home container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class="shadow-lg rounded-3 p-3 bg-secondary bg-opacity-75 bg-gradient mt-2 mb-2">
                        <h1>About us</h1>
                        <p>
                            Super Smash Bros League is a competive gameplay where teams can go against each other
                            and try to win the Golden Cup.<br />
                            To do this they will need to fight each other head on.<br />
                        </p>

                        <h2>Rules</h2>
                        <ul>
                            <li>Each team needs to to launch their opponents off the stage and out of bounds.</li>
                            <li>
                                To knock out an opposing player, the player must knock that player outside the
                                stage's boundaries to the right or left.
                            </li>
                            <li>
                                When a player is pushed or hit off the stage, the player can attempt to "recover" by
                                jumping or use any other object they brought to grab on to the stage.
                            </li>
                            <li>
                                Additionally, some players vary in weight, with lighter palyers being easier to get
                                off the stage than heavy characters.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- aside content -->
                <div
                    class="col-4 shadow-lg rounded-3 p-3 mb-3 bg-secondary bg-gradient bg-opacity-75 text-black table-responsive mt-2 mb-2">
                    <aside>
                        <h2>Schedule:</h2>
                        <p>
                            8am - Coach Meeting<br />
                            10am - The Pink Puffs vs Buffet's Bane<br />
                            11am - Echoes vs Corrupted Visions<br />
                            12am - Lunch @ Peach's Castle<br />
                            3pm - Plant Gang vs It's a Mii, Mario!<br />
                            4pm - Dinner @ SuperHappy Tree<br />
                            6pm - Final Results
                        </p>
                    </aside>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/super-smash-ultimate-inkling-donkey.png" class="d-block w-100"
                                    alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="images/20181210-SjLdtlBCXcfsbeZ80SLA.png" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="images/highlight.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>