<main class="">
    <div class="row">
      <div class="col-4">
            <h1 class="text-white"> <%=view.list.listTitle%> </h1>
          </div>
           <div class="col-8 d-flex justify-content-end">
              <input id="searchInput" class="w-75 me-2 p-1" placeholder="Search...">
              <button id="clearSearch" class="btn btn-primary">Clear</button>
            </div>
       
        </div>
      <div class="col-12">
        <div id="<%=view.alertContainerId%>" class="mt-2"></div>
        <div id="tableContainer" class="mt-2">
  
        </div>
        <button id="resetView" class="btn btn-primary clear-search-btn ml-2">Reset View</button>
      </div>
    </div>
  </main>
  
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Delete Team Item</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete this Team?
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- data-bs-dismiss="modal" tells the javscript to hide the modal on click, both 'Yes' and 'No' buttons will hide modal.  I'm placing a specific event handler on the 'Yes' button below-->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No.</button>
          <button id="yesButton" type="button" class="btn btn-success" data-bs-dismiss="modal">Yes!</button>
        </div>
  
      </div>
    </div>
  </div>